* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
#loading{
  display: none;
}
body {
  display: flex;
  justify-content: center;
}
#root {
  max-width: 1100px;
  flex-grow: 1;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  border-radius: 8px;
  margin: 0px 0% 5px 0%;
  background-color: #04009a;
  img {
    max-width: 50px;
    margin: 0% 2%;
  }
  h1 {
    color: #fff;
  }
  input {
    flex-grow: 2;
    margin: 0% 2%;
    height: 40px;
    padding: 2%;
    border-radius: 5px;
    border: none;
  }
  input:focus {
    outline: none;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: #55c1ec;
    height: 40px;
    padding: 2%;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: medium;
  }
  button:hover {
    cursor: pointer;
    color: black;
    background-color: #fff;
  }
  @media (max-width: 600px) {
    border-radius: 0%;
    h1 {
      display: none;
    }
  }
}
.infinite-scroll-component__outerdiv {
  .infinite-scroll-component {
    .newsContainer {
      min-width: 100%;
      .news {
        background-color: #dbe7fd;
        border-radius: 5px;
        padding: 1% 2%;
        h4 {
          padding: 1% 0%;
        }
        p {
          padding: 1% 0%;
        }
      }
      .news:hover {
        cursor: pointer;
        background-color: #fff;
      }
      .line {
        min-width: 100%;
        border: 1px solid #fff;
      }
    }
    .loading{
        min-width: 100%;
        display: flex;
        justify-content: center;
    }
  }
}
